/* STYLE */

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

*[hidden]{
	display: none;
}

body{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0;
	margin:0;
	overflow: hidden;
	font-family:"Trebuchet MS";
	color:white;
	background: black;
}

	button{
		display: inline-block;
		border:none;
		border-radius:50px;
		font-size:20px;
		padding:10px;
		background-color:rgba(0,0,0,0.5);
		color:white;
		margin:5px;
		box-shadow:0 0 5px 5px rgba(0,0,0,0.5);
		-webkit-transition:box-shadow 5s;
	}
	button:active{
		box-shadow:0 0 5px 5px rgba(255,255,255,0.5);
		-webkit-transition:box-shadow 0s;
	}

	nav{
		position:absolute;
		left:0;
		top:50px;
		bottom:0;
		vertical-align: middle;
		text-align:center;
	}
		nav button{
			display: block;
		}
		nav button.color{
			font-size:0;
			padding:20px;
		}

canvas{
	cursor: crosshair;
}


/** when user performs an action */
aside{
	position:absolute;
	display: table;
	text-align: center;
	vertical-align: middle;
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:1em;
}


aside > section{
	background-color:rgba(0,0,0,0.5);
	vertical-align: middle;
	display: table-cell;
	text-align: center;	
	height:100%;
	color:white;
	margin:auto;
	width:100%;
}


aside .close{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	display: block;
	text-align: center;
}
aside .close span{
	padding:5px;
	background-color:black;
}



.ellipsis{
	overflow:hidden;
	display: inline-block;
	font-size:inherit;
	text-align:right;
	width:inherit;
	-webkit-animation:'bounce' 1s ease infinite alternate;
	-moz-animation:'bounce' 1s ease infinite alternate;
	-ms-animation:'bounce' 1s ease infinite alternate;
	animation:'bounce' 1s ease infinite alternate;
}
.ellipsis:after{
	content:'...';
	overflow:hidden;
}
@-webkit-keyframes bounce{
	from {width:0;}
	to {width: 2.5em;}
}
@-moz-keyframes bounce{
	from {width:0;}
	to {width: 2.5em;}
}
@-ms-keyframes bounce{
	from {width:0;}
	to {width: 2.5em;}
}
@keyframes bounce{
	from {width:0;}
	to {width: 2.5em;}
}


figure{
	display:inline-block;
	width:120px;
	height:120px;
	vertical-align: top;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	overflow: hidden;
	margin:1em;
}

	figure img{
		height:100%;
	}
	figure figcaption{
		background-color: black;
		position: absolute;
		bottom: 0;
	}

figure.selected {
	outline:3px solid lime;
}
figure .delete {
	color:red;
	display: none;
	cursor:pointer;
	position: absolute;
	top: 0;
	right: 0;
	background: black;
	width: 1.5em;
	height: 1.5em;
	border-bottom-left-radius: 50%;
}
figure:hover .delete {
	display: block;
}


progress:not([value]){
	display: none;
}


#share form{
	max-width:600px;
	margin: auto;
}
	form img{
	 	width:100px;
	 	float:left;
	}
	form hr{
		clear:both;
	}

	#share form input,#share form textarea{
		width:100%;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border: none;
		border-radius: 5px;
		padding: 8px;
	}



.table{
	display: table;
	width: 100%;
}
	.row {
		display: table-row;
	}
		.cell {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

